@import "tailwindcss";

@source "../views";
@theme {
    --color-main_color: #ff4c28;
    --color-main_color_alt: #88220f;
    --color-second_color: #51a2ff;
    --color-second_color_alt: #0d3b71;

    --color-line_light: #d4d4d8
}

@layer components {
    h1 {
        @apply text-2xl font-bold mb-1
    }
    h2 {
        @apply text-2xl font-bold mb-1
    }
    h3 {
        @apply text-lg font-bold mb-1
    }
    h4 {
        @apply font-bold mb-1
    }
    .x-box {
        @apply bg-slate-50 p-6 rounded-lg border-line_light shadow-lg shadow-slate-400
    }
    .y-box {
        @apply bg-slate-50 p-6 rounded-lg border-line_light
    }

    .tkicon {
        @apply fill-none stroke-current
    }
    .tkicon.active {
        @apply stroke-main_color
    }

    .input {
        @apply border border-line_light px-3 py-1 rounded focus:outline-2  focus-within:outline-blue-600 focus:outline-blue-600 bg-transparent
    }
    .input-error {
        @apply border-red-500 focus:ring-red-500/20 focus:border-red-500;
    }
    .input-helper {
        @apply mt-1 text-xs text-zinc-500;
    }
    .input_check {
        @apply border border-line_light px-3 py-1 rounded outline-none accent-green-600
    }
    .input[disabled], .input_check[disabled] {
        @apply text-zinc-300 cursor-not-allowed
    }
    .input_label {
        @apply text-zinc-600 font-bold text-sm block select-none
    }

    .inner-container {
        @apply container mx-auto
    }
    .inner-content {
        @apply w-full md:w-11/12 mx-auto
    }

    .bordering {
        @apply border border-line_light
    }

    table.tableData td {
        @apply p-2
    }
    table tr .action {
        @apply invisible
    }
    table tr:hover .action {
        @apply visible
    }

    .fieldset legend {
        @apply px-3 py-1 rounded-lg  font-bold text-xl !mb-0
    }
    .fieldset {
        @apply border border-line_light p-6 rounded-lg
    }

    .danger-msg{
        @apply text-red-600  text-sm font-bold inline-block px-1
    }
    .warning-msg{
        @apply text-yellow-600  text-sm font-bold inline-block px-1
    }

}

::-webkit-scrollbar {
    background: #986a0f;
    width: 10px;
    border-radius: 16px;
}


::-webkit-scrollbar-track {
    -webkit-box-shadow: inset 0 0 6px rgba(0, 0, 0, 0.3);
    background-color: #F5F5F5;
    border-radius: 16px;
}
::-webkit-scrollbar-thumb
{
    border-radius: 16px;
    background: #b5b5b5 -webkit-linear-gradient(45deg, rgba(255, 255, 255, .2) 25%, transparent 25%, transparent 50%, rgba(255, 255, 255, .2) 50%, rgba(255, 255, 255, .2) 75%, transparent 75%, transparent);
}
