@import "tailwindcss";

@source "../views";
@theme {
    --color-main_color: #ff4c28;
    --color-main_color_alt: #88220f;
    --color-second_color: #51a2ff;
    --color-second_color_alt: #0d3b71;

    --color-line_light: #d4d4d8
}

@layer components {
    h1 {
        @apply text-5xl font-bold mb-1
    }

    h2 {
        @apply text-3xl font-bold mb-1
    }

    h3 {
        @apply text-lg font-bold mb-1
    }

    h4 {
        @apply font-bold mb-1
    }

    .x-box {
        @apply bg-slate-50 p-6 rounded-lg border-line_light shadow-lg shadow-slate-400
    }

    .tkicon {
        @apply fill-none stroke-current
    }

    .tkicon.active {
        @apply stroke-main_color
    }

    .input {
        @apply border border-line_light px-3 py-1 rounded focus:outline-2 focus:outline-blue-600 bg-transparent
    }

    .input_check {
        @apply border border-line_light px-3 py-1 rounded outline-none accent-green-600
    }

    .input[disabled], .input_check[disabled] {
        @apply text-zinc-300 cursor-not-allowed
    }

    .input_label {
        @apply text-zinc-600 font-bold text-sm block select-none
    }

    table tr .action{
        @apply invisible
    }
   table tr:hover .action{
        @apply visible
    }


    .inner-container {
        @apply container mx-auto
    }



    .bordering {
        @apply border border-slate-300
    }


    table.tableData td {
        @apply p-2
    }

    table.tableData tr .action {
        @apply invisible flex gap-3 items-center justify-end
    }

    table.tableData tr:hover .action {
        @apply visible
    }


    form .legend {
        @apply p-3 font-bold text-xl
    }

    form .fieldset {
        @apply border border-slate-400 rounded-lg p-3
    }

}
